# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask
instance/
.env
.flakenv
venv/
migrations/

# SQL
*.db
*.sqlite
*.sql

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log*

# Miscellaneous
*.swp
.DS_Store