{% extends "base.html" %}

{% block content %}
<form>
    <img src = "../static/PrinterAG.png" style="width:120;height:120px;">
    <h1>Welcome {{ current_user.username }}</h1>
    current_balance: {{ current_user.balance | round(4) }} <hr>
    Pages printed this week: {{ current_user.weekly_print_number }} <hr>
    Pages remaining this week: {{ current_user.weekly_limit - current_user.weekly_print_number }}<hr>
    {% if current_user.role.name=='Admin' or current_user.role.name=="Printer_AG" %}
        Total pages printed by me: {{ current_user.pages_printed }}<hr>
        Total pages printed by all users: {{ total_pages }}
    {% else %}
        Total pages printed: {{ current_user.pages_printed }} 
    {% endif %}
</form>


{% endblock %}